.header {
  background: $dark-blue;
}

.header__content {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none; // invalidate default effection
  h1 {
    margin: 0;
  }
}
